/* Base Styles */

:root {
	--primary-bg-color: #bf514c;
	--secondary-bg-color: #7584b5;
	--accent-bg-color: #e8e8eb;
	--white: #fff;
}

* {
	box-sizing: border-box;
	font-family: 'Karla', 'Montserrat', sans-serif;
}

/* Layout Styles */

.main-header {
	justify-content: center;
}

.main-header,
.main-footer {
	display: flex;
	align-items: center;
	height: 50px;
}

.main-footer {
	justify-content: space-between;
}

.main-content,
.about {
	min-height: calc(100vh - 100px);
}

/* Class Styles */

.main-header,
.main-footer {
	background-color: var(--secondary-bg-color);
}

.header-title {
	font-size: 1.5rem;
	font-weight: 300;
	color: var(--white);
}
.header-title,
.section-title {
	margin: 0;
	text-transform: uppercase;
	letter-spacing: 0.05rem;
}
.section-title {
	font-size: 1.2rem;
	font-weight: 500;
}

.main-content {
	text-align: center;
	padding: 2rem 0.5rem;
}

.intro {
	padding-bottom: 2rem;
	height: calc(100vh - 50px);
}

.title {
	font-size: 1.75rem;
	font-weight: 400;
}
.title-name {
	font-size: 1.2rem;
	padding-bottom: 0.5rem;
}
.title-details {
	font-size: 1rem;
	font-weight: 300;
}

.profile-img {
	height: 180px;
	width: 180px;
	border-radius: 50%;
	margin: 1.25rem 0;
	border: 3px solid var(--secondary-bg-color);
}

.down-arrow div {
	width: 40px;
	margin: auto;
	bottom: 0;
}

.bio {
	line-height: 1.4;
	font-weight: 300;
}

.projects {
	transform: translateX(-100vw);
	background-color: var(--primary-bg-color);
}

.resume {
	transform: translateX(100vw);
	background-color: var(--secondary-bg-color);
}

.projects,
.resume {
	display: none;
}

.main-footer {
	padding: 0 0.5rem;
}

.main-footer span {
	font-size: 0.8rem;
	font-weight: 300;
	color: var(--white);
}
