/* Base Styles */

:root {
	--primary-color: #bf514c;
	--secondary-color: #7584b5;
	--accent-color: #e8e8eb;
	--white: #fff;
}

* {
	box-sizing: border-box;
	font-family: 'Karla', 'Montserrat', sans-serif;
}

/* Custom Styles */

.main-header .navbar,
main .jumbotron {
	background-color: var(--primary-color);
}

main .jumbotron {
	color: var(--accent-color);
	height: 100vh;
	min-height: 700px;
}
main .jumbotron .name,
main .jumbotron .details {
	font-weight: 300;
}

.profile-img {
	height: 180px;
	width: 180px;
	border-radius: 50%;
	border: 3px solid var(--accent-color);
}

.down-arrow {
	height: 40px;
	width: 40px;
	margin: auto;
	bottom: 5;
}
.down-arrow a svg {
	fill: var(--accent-color);
	animation: pulse 1s infinite;
	transition: transform 0.3s ease-out;
}
.down-arrow a svg:hover {
	transform: scale(1.2);
}

/* Animation Keyframes */

@keyframes pulse {
	50% {
		transform: scale(0.9);
		opacity: 0.6;
	}
}
